.search-hint {
  text-align: center;
  font-size: 1.2rem;
}

.card-placeholder {
  height: 11.125rem;
  background-color: #C7BEBE;
  border-radius: 0.25rem 0.25rem 0 0;
}

.card {
  height: 22.75rem;
}

.input-group {
  height: 4.25rem;
}

.input-group-text {
  background-color: #E7E7E7;
  font-size: 2rem;
}

.alert-primary {
  color: white;
  background-color: #3282F7;
}

.alert-success {
  color: white;
  background-color: #68D9A4;
}

.alert-danger {
  color: white;
  background-color: #ED6454;
}

.alert {
  font-size: 0.875rem;
  height: 2.25rem;
  line-height: 2.25rem;
}

.btn {
  color: white;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

.dropdown-toggle {
  height: 4.25rem;
  box-shadow: none;
  overflow: hidden;
  &::after {
    border-top: 0;
    border-right: 0;
    border-left: 0.2rem solid white;
    border-bottom: 0.2rem solid white;
    width: 0.7rem;
    height: 0.7rem;
    transform: rotate(-45deg);
    margin-left: 2rem;
    transition: transform 300ms;
    //So it stays on top of expanded dropdown
    position: relative;
    z-index: 1001;
  }
}

.dropdown-toggle.show {
  width: 41.25rem;
  text-align: end;
  box-shadow: none;
  &::after {
    transform: rotate(135deg);
  }
}

.dropdown-input {
  height: 4.25rem;
  padding-left: 1rem;
  color: white;
  border: none;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: white;
    opacity: 0.5;
  }
}

.list-group-horizontal {
  width: 41.25rem;
  .list-group-item {
    width: 13.75rem;
  }
}

.dropdown-menu {
  //We need to override the inline style injected by Bootstrap with JavaScript
  margin-top: -4.375rem !important;
  margin-left: -0.05rem !important;
  .inventory{
    max-height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0.1rem;
    }
  }
}

//Making the SVG icons thicker
/*
path {
  stroke-width: 1px;
  stroke: white;
}

.bi-clock::before path {
  stroke-width: 1px;
  stroke: black;
}*/
